<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
           http://www.springframework.org/schema/beans
           https://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/context
           https://www.springframework.org/schema/context/spring-context.xsd">

    <!-- Enable @Autowired -->
    <context:annotation-config/>

    <bean id="studentDAO"
          class="com.xmlsms.dao.StudentDAOImpl" 
          scope="prototype"/>

    <bean id="studentService"
          class="com.xmlsms.service.StudentServiceImpl">
        <property name="studentDAO" ref="studentDAO"/>
    </bean>

    <bean id="constStudeService"
          class="com.xmlsms.service.StudentServiceConstructor">
        <constructor-arg ref="studentDAO"/>
    </bean>

    <bean id="studentServiceField"
          class="com.xmlsms.service.StudentServiceField"/>

</beans>